*{

  margin: 0;
  padding: 0;
}
.auth-container{
  display:flex;
  height:100vh;
}

.auth-left{
  width:50%;
  background:#f8fafc;
  display:flex;
  flex-direction:column;
  /* justify-content:center; */
  align-items:center;
}

.login-page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.logo-container{

  gap: 1rem;
}

.logo{
  height:clamp(40px,5vw,60px);
}

.brand{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:40px;
}

.brand-name{
  font-size:22px;
  font-weight:700;
  letter-spacing: 0.5px;
  color: #111827;
}

.brand-highlight{
  color: #22c55e;
}

.auth-info{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.auth-subtitle{
  color:rgb(76,85,100);
}

.auth-card{
  width:380px;
  background:white;
  padding:35px;
  border-radius:20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.08);
  display:flex;
  flex-direction:column;
  gap:12px;
  transition: all .3s ease;
}

.subtitle{
  color:#64748b;
  font-size:14px;
}

.auth-card input{
  padding:12px;
  border-radius:10px;
  border:1px solid #ddd;
}

.auth-card input:focus{
  outline: none;
  border:1.2px solid rgb(0,190,30);
  box-shadow: 0 0 0 2px rgb(188, 237, 195);
}

.remember{
  display:flex;
  align-items:center;
  gap:6px; 
}

.options{
  display:flex;
  justify-content:space-between;
  font-size:14px;
  gap:1rem;
}
.options input[type="checkbox"]{
  accent-color: #10b981;
  cursor:pointer;
}
.link{
  color:#10b981;
  cursor:pointer;
}

.primary-btn{
  padding:14px;
  border:none;
  color:white;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
  background:var(--primary-gradient);
  transition: all 0.25s ease;
}

.primary-btn:hover{
  transform: scale(1.02); 
  filter: brightness(1.1);
  box-shadow:0 10px 25px rgba(16,185,129,0.35);
}

.divider{
  display:flex;
  align-items:center;
  gap:10px;
  margin:10px 0;
}

.line{
  flex:1;
  height:1px;
  background:#e5e7eb;
  box-shadow: horizontal vertical blur spread color;
}

.divider p{
  font-size:14px;
  color:#64748b;
  white-space:nowrap;
}

.social{
  display:flex;
  gap:10px;
}

.social button img{
  width:22px;
  height:19px;
  object-fit:contain;
}

.social button{
  flex:1;
  padding:12px;
  border-radius:12px;
  border:1px solid #e5e7eb;
  background:white;        
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  transition: all 0.2s ease;
}

.social button:hover{
  transform: scale(1.02); 
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.switch{
  text-align:center;
}

.switch span{
  color:#10b981;
  cursor:pointer;
  font-weight:500;
}

.auth-right{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.image-card img{
  width:420px;
  border-radius:20px;
}

.stats-card{
  position:absolute;
  bottom:100px;
  right:120px;
  background:white;
  padding:18px 25px;
  border-radius:15px;
  display:flex;
  gap:15px;
  align-items:center;
  box-shadow:0 15px 30px rgba(0,0,0,0.1);
}
.auth-container{
  display:flex;
  height:100vh;
}

.auth-illustration{
  width:50%;
  background:linear-gradient(135deg,#34d399,#10b981);
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.image-card{
  width:420px;
  padding:20px;
  border-radius:25px;
  background:rgba(255,255,255,0.2);
}

.image-card img{
  width:100%;
  border-radius:20px;
}

.stats-card{
  position:absolute;
  top:140px;
  left:120px;
  background:white;
  padding:15px 20px;
  border-radius:15px;
  display:flex;
  gap:10px;
  align-items:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.auth-form{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f8fafc;
}

.auth-container{
  display:flex;
  height:100vh;
}

.auth-illustration{
  width:50%;
  background:linear-gradient(135deg,#34d399,#10b981);
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.image-card{
  width:420px;
  padding:20px;
  border-radius:25px;
  background:rgba(255,255,255,0.2);
}

.image-card img{
  width:100%;
  border-radius:20px;
}

.stats-card{
  position:absolute;
  top:140px;
  left:120px;
  background:white;
  padding:15px 20px;
  border-radius:15px;
  display:flex;
  gap:10px;
  align-items:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.auth-form{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f8fafc;
}

.auth-container{
  display:flex;
  height:100vh;
  overflow:hidden;
  position: relative;
}

.panel {
  width: 50%;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease;
}

.left-panel {left:0; }
.right-panel{left:50%; }

.signup-mode .left-panel{
  transform: translateX(100%);
}

.signup-mode .right-panel{
  transform: translateX(-100%);
}
